<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
  <f:layout name="Default" />
  <f:section name="Main">
    <section class="theme-section">
      <h1><f:translate key="LLL:EXT:theme_creator/Resources/Private/Language/locallang_db.xlf:theme.header.list" /></h1>
    </section>

    <section class="theme-button-section">
      <f:link.action action="new" controller="Theme" class="btn btn-primary">
        <f:translate key="LLL:EXT:theme_creator/Resources/Private/Language/locallang_db.xlf:theme.new" />
      </f:link.action>
    </section>
  </f:section>
</html>
